In [3]:
import numpy as np
import pandas as pd

df= pd.read_csv('heart.csv')
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:-1],df.iloc[:,-1],test_size= 0.2, random_state = 42)

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [10]:
cf1= LogisticRegression()
cf2= DecisionTreeClassifier()

In [11]:
cf1.fit(X_train,y_train)
cf2.fit(X_train,y_train)

ypred1= cf1.predict(X_test)
ypred2= cf2.predict(X_test)

C:\Users\shubh\anaconda3\envs\env\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [13]:
from sklearn.metrics import accuracy_score,confusion_matrix

print('Accuracy of Logistic Regression', accuracy_score(y_test,ypred1))
print('Accuracy of Decison Tree Classifier', accuracy_score(y_test,ypred2))

Accuracy of Logistic Regression 0.8852459016393442
Accuracy of Decison Tree Classifier 0.8032786885245902

In [14]:
confusion_matrix(y_test,ypred1)

array([[25,  4],
       [ 3, 29]], dtype=int64)

In [15]:
confusion_matrix(y_test,ypred2)

array([[25,  4],
       [ 8, 24]], dtype=int64)