In [1]:
!pip install pandas-datareader

import pandas as pd
from pandas_datareader import data
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.datasets import fetch_openml
from sklearn.model_selection import GridSearchCV

Requirement already satisfied: pandas-datareader in c:\users\shubh\anaconda3\envs\env\lib\site-packages (0.10.0)
Requirement already satisfied: lxml in c:\users\shubh\anaconda3\envs\env\lib\site-packages (from pandas-datareader) (4.9.2)
Requirement already satisfied: pandas>=0.23 in c:\users\shubh\anaconda3\envs\env\lib\site-packages (from pandas-datareader) (1.5.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\shubh\anaconda3\envs\env\lib\site-packages (from pandas-datareader) (2.29.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\shubh\anaconda3\envs\env\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\shubh\anaconda3\envs\env\lib\site-packages (from pandas>=0.23->pandas-datareader) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\shubh\anaconda3\envs\env\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.23.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\shubh\anaconda3\envs\env\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shubh\anaconda3\envs\env\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\shubh\anaconda3\envs\env\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shubh\anaconda3\envs\env\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2023.5.7)
Requirement already satisfied: six>=1.5 in c:\users\shubh\anaconda3\envs\env\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)

In [2]:
boston = fetch_openml(name='boston')
df= pd.DataFrame(boston.data)

C:\Users\shubh\anaconda3\envs\env\lib\site-packages\sklearn\datasets\_openml.py:301: UserWarning: Multiple active versions of the dataset matching the name boston exist. Versions may be fundamentally different, returning version 1.
  warn(
C:\Users\shubh\anaconda3\envs\env\lib\site-packages\sklearn\datasets\_openml.py:968: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

In [3]:
df.columns= boston.feature_names
df['MEDV']= boston.target
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [5]:
X= df.iloc[:,0:-1]
y= df.iloc[:,-1]